<footer>
    <section class="container">
        <div class="row">
            <div class="col-md-5 col-lg-3 order-lg-1 bottom-left">
                <h2>青岛创百城显示科技</h2>
                <img src="/images/wx.jpg" alt="">
            </div>
            <div class="col-md-7 col-lg-9 order-lg-2 mb-3 mb-lg-0 bottom-right">
                <div class="row">
                    <ul class="col-lg-4">
                        <li>电话：18661787560</li>
                        <li>手机： 18661787560 </li>
                        <li>微信：CBCxianshikeji</li>
                    </ul>
                    <ul class="col-lg-4">
                        <li>地址：山东省青岛市李沧区九水东路130号2号楼307-128</li>
                        <li><a target="_blank" href="http://www.beian.miit.gov.cn/" style="color: #fcfdfd">鲁ICP备20015006号</a></li>
                        <li><img src="/images/beian.png" alt=""><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37021302000698" style="color: #fcfdfd">鲁公网安备 37021302000698号</a></li>
                        <li>&copy;&nbsp; 青岛创百城显示科技有限公司&nbsp;版权所有</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
